<% provide(:title, 'About')%>
<h1>About</h1>
<p>
  <a href="https://reailstutorial.jp/">Ruby on Rails Tutorial</a>
  is a <a href="https://reailstutorial.jp/#ebook">book</a> and
  <a href="https://reailstutorial.jp/#screencast">screencast</a>
  to teach web development with
  <a href="rubyonreails.org/">Ruby on Rails</a>
  This is the sample application for the tutorial.
</p>